
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root{
    --primaryColor: #f09d51;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
    --margin-top-section: 5rem;
    --box-shadow-primary: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    --clr-header-1: #4e57db;
    --clr-header-2: #6BEEC4;

    --clr-brand-1: #FBE9E9;
    --clr-brand-2: #E7FAF9;
    --clr-brand-3: #F5ECFD;
    --clr-brand-4: #E7EFFB;

    --clr-presentation-1: #F0F9FE;

    --clr-feature-1: #FFEFEF;
    --clr-feature-2: #F2E6FD;
    --clr-feature-3: #DBF6F8;
    --clr-feature-4: #E4E3E6;
    --clr-feature-5: #FDE6F1;
    --clr-feature-6: #E0F9E2;

    --clr-popular-post-1: #A1A2E5;
    --clr-popular-post-1: #14142b;

    --clr-text-special: #5E68F9;

    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: #f1f5f8;
}

html{
    font-size: 62.5%; 
    font-family: "Lato", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
    h1 {
    font-size: 4rem;
    }
    h2 {
    font-size: 2.5rem;
    }
    h3 {
    font-size: 1.75rem;
    }
    h4 {
    font-size: 1rem;
    }
    body {
    font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
    line-height: 1;
    }
}

main{
    max-width: 95%;
    margin: auto;
    margin-bottom: 5rem;
}

.header-container{
    display: flex;
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
}

/* header */
.logo{
    flex: 3;
}
.logo img{
    width: 70px;
    height: 50px;
}
nav{
    flex: 3;
}
.nav-links{
    display: flex;
    justify-content: space-around;

    font-size: 2rem;
}
.nav-link{
    text-transform: capitalize;
    transition: var(--transition);

    font-weight: 500;
    cursor: pointer;
}
.nav-link:hover{
    border-bottom:5px solid var(--clr-text-special);
    padding-bottom: 2px;
}
.task{
    display: flex;
    flex: 1;
    justify-content: space-around;
}
.task .btn-start, .btn-buy {
    width: 125px;
    height: 45px;

    border-radius: 10px;
    border: none;

    color: white;
    outline: none;

    font-weight: bold;
    font-size: 2rem;
}
.task .btn-start{
    background-color:var(--clr-header-1);
}
.task .btn-buy{
    background-color:var(--clr-header-2);
}
/* end-header */

/* brand */
#brands{
    position: relative;
    margin-top: var(--margin-top-section);
}
.brands-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}
.brand{
    padding: 20px 0px 0px 20px;
    cursor: pointer;
}
.brand:hover{
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
    transition: var(--transition);
}
.brand h3{
    position: relative;
}
.brand h3::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;

    height: 60px;
    width: 60px;

    border-radius: 50%;
    transform: translate(-50%, -35%);
    mix-blend-mode: multiply;
}
#brand-1 h3::after{
    background-color: #FBE9E9;
}
#brand-2 h3::after{
    background-color: #E7FAF9;
}
#brand-3 h3::after{
    background-color: #F5ECFD;
}
#brand-4 h3::after{
    background-color: #E7EFFB;
}
.brand p{
    margin-top: 25px;
    line-height: 2.5rem;
    font-size: 1.5rem;
}
/* endbrand */

/* slide */
#presentation{
    margin-top: var(--margin-top-section);
    position: relative;
}
.presentation-about{
    text-align: center;
}
.presentation-about h2{
    font-weight: bold;
    letter-spacing: -1px;
}
.presentation-about h2 span{
    color: var(--clr-text-special);
}
.presentation-about p{
    margin-top: 10px;
    line-height: 2.5rem;
}
.slides{
    margin-top: var(--margin-top-section);
}
.slide{
    display: flex;
    align-items: center;
}
.slide .cover{
    flex: 1;
    overflow: hidden;
    position: relative;
}
.slide .cover img{
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 10rem 5rem;
    width: 90%;

    transition: var(--transition);
    cursor: pointer;
}
.slide .cover img:hover{
    transform: scale(1.05);
}
.slide .cover::after{
    content: '';
    position: absolute;
    top: 0;
    
    border-radius: 0 30px 30px 0;
    background: var(--clr-presentation-1);
    
    height: 100%;
    width: 85%;
    z-index: -1;

    /* mix-blend-mode: multiply; */
}

.introduction{
    flex: 1;
}
.intro-logo{
    font-size: 90px;
    color: var(--clr-text-special);
    position: relative;
}
.intro-logo::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 9rem;
    height: 9rem;

    mix-blend-mode: multiply;
    background: #FDF1E7;
    border-radius: 50%;
    transform: translate(-30%,-10%);
}
.intro-text p{
    line-height: 3rem;
    font-size: 2rem;
}
.next-slide {
    margin-top: 4rem;
    display: flex;
}
.next-slide i{
    content: '';

    margin-right: 2rem;
    border-radius: 50%;

    width: 15px;
    height: 15px;
    background: #ccc;
}
.next-slide i:nth-child(3)
{
    width: 20px;
    height: 20px;
    transform: translateY(-15%);
    background: var(--clr-text-special);
}
/* endslide */

/* features  */
#features{
    margin-top: var(--margin-top-section);
    position: relative;
}
.features-container{
    background: #FCF3EC;
    border-radius: 1rem;
    padding: 8rem 6rem;
}
.features-about{
    text-align: center;
}
.features-about h2{
    font-weight: bold;
    letter-spacing: -1px;
}
.features-about h2 span{
    color: var(--clr-text-special);
}
.features-about p{
    line-height: 2.5rem;
    margin-top: 1rem;
}
.features-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
}
.features-wrapper .feature{
    border-radius: 1rem;
    padding: 2rem;
    background: white;
    cursor: pointer;
    transition: var(--transition);
}
.features-wrapper .feature:hover{
    box-shadow: var(--box-shadow-primary);
}
.features-wrapper .feature h3{
    text-transform: capitalize;
    font-weight: bold;
}
.icon i{
    color: transparent;
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#favorite-post{
    background: var(--clr-feature-1);
    color: orange; 
}
#recentyly-viewed{
    background: var(--clr-feature-2);
    color: #624099;
}
#awesome{
    background: var(--clr-feature-3);
    color: #52a58b;
}
#theme{
    background: var(--clr-feature-4);
    color: #5E68F9;
}
#social{
    background: var(--clr-feature-5);
    color: #9b4d8a;
}
#google{
    background: var(--clr-feature-6);
    color: #61b340;
}


#popularpost{
    margin-top: var(--margin-top-section);
    position: relative;
}

.popularpost-about{
    text-align: center;
}
.popularpost-about h2{
    font-weight: bold;
    letter-spacing: -1px;
}
.popularpost-about p{
    line-height: 2.5rem;
    margin-top: 1rem;
}
.popularpost-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 50px;
}
.popularpost-wrapper .post{
    cursor: pointer;
    box-shadow: var(--box-shadow-primary);
    transition: var(--transition);
}
.post:hover{
    transform: scale(1.05);
}

.post .img-container span{
    position: relative;

    top: -1rem;
    padding:1rem 2rem;
    transform: translateX(-100%);

    background: var(--clr-text-special);
    color: white;
    
    font-weight: bold;
    font-size: 1.5rem;
}

.post .img-container span::after{
    content: '';
    position: absolute;
    right: 0;
    transform: translate(100%, -50%);

    border-bottom: 2rem solid rgb(8, 10, 61);
    border-right: 2rem solid transparent;
    
}
.post .text{
    padding: 10px;
}
/* endfeatures */

/* simple responsive */
@media only screen and (max-width: 1625px) {
    .slide {
        display: inline;
    }
    .introduction{
        margin-top: 5rem;
        margin-left: 5rem;
    }
    
}
@media only screen and (max-width: 945px) {
    .header-container .task{
        display: none;
    }
    .logo{
        flex: 1;
    }
    .brands-container .brand{
        width: 40rem;
        margin: auto;
    }
}
@media only screen and (max-width: 600px) {
    .features-wrapper{
        display: inline;
    }
    .feature{
        margin-bottom: 3rem;
    }
}